* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    height: 97vh;
    background-color: black;
    background-image: url('img/wallpaper002.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: white;
    width: 80%;
    padding: 10px;
    margin: auto;
    border: solid 3px black;
    border-radius: 5px;
}