* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(216, 215, 215);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header h1 {
    font-variant: small-caps;
    font-family: "jersey 15";
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    border: solid 2px black;
    padding: 15px;
    font-size: clamp(1rem, 2vw, 1.7rem);
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: white;
}

main h2 {
    font-variant: small-caps;
    color: rgb(255, 64, 0);
    margin-bottom: 15px;
    text-align: center;
}

main p {
    font-family: 'kanit';
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
tbody > tr:nth-child(even){
    background-color: lightgray;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    word-break: break-word;
}


thead, tfoot{
    background-color: gray;
    color: white;
}

thead > tr > th {
    position: sticky;
    top: 0;
    background-color: gray;
    z-index: 1;
}

td.num {
    text-align: right;
}

div#container {
    overflow-x: auto;
}