* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-image: url('img/wallpaper002.jpg');   
}

div.square {
    border: 3px solid black;
    height: 100px;
    margin: auto;
    border-radius: 3px;
    background-image: url('img/wallpaper003.jpg');
    width: 90vh;
    margin-top: 5px;
}

div#sq1 {
    background-position: left top;
}

div#sq2 {
    background-position: left bottom;
}

div#sq3 {
    background-position: center;
}

div#sq4 {
    background-position: right top;
}

div#sq5 {
    background-position: right bottom;
}