* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(216, 215, 215);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header h1 {
    font-variant: small-caps;
    font-family: "jersey 15";
    font-size: clamp(2rem, 5vw, 4rem);
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    border: solid 2px black;
    padding: 15px;
    font-size: clamp(1rem, 2vw, 1.7rem);
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: white;
    overflow-x: hidden;
}

main h2 {
    font-variant: small-caps;
    color: rgb(255, 64, 0);
    margin-bottom: 15px;
    text-align: center;
}

main p {
    font-family: 'kanit';
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    word-break: break-word;
}



td.error404 {
    text-decoration: underline;
    background-color: red;
}

td.center {
    text-align: center;
    background-color: yellow;
}

div#container {
    overflow-x: auto;
}